# some LaTeX things we don't need
*.aux
*.glo
*.log
*.out
*.toc
*.xdy

# Since this is part of a programming course, I can assume,
# that everyone interested in this is able to build it on his
# own. Therefore I'll ignore the PDF

prg2.pdf
/workspace/account/nbproject/private/
/workspace/account/build/
/workspace/bank/nbproject/private/
/workspace/bank/build/