# some LaTeX things we don't need
*.aux
*.glo
*.log
*.out
*.toc
*.xdy

# Since this is part of a programming course, I can assume,
# that everyone interested in this is able to build it on his
# own. Therefore I'll ignore the PDF
prg2.pdf

# some netbeans specific files
nbproject/*
!project.properties
!project.xml
build/*
nbbuild/*
dist/*
nbdist/*
nbactions.xml
manifest.mf
build.xml

# some java specific files
*.class
*.jar
*.war
*.ear

# general swap/backup files 
*.so
*.swp
*.lock
/workspace/stack/nbproject/private/
/workspace/stack/build/
/workspace/Queue/nbproject/private/
/workspace/Queue/build/
/workspace/IList/nbproject/private/
/workspace/IList/dist/
/workspace/binary/nbproject/private/
/workspace/binary/build/
/workspace/binary-4-3/nbproject/private/
/workspace/binary-4-3/build/
/workspace/testgui/nbproject/private/
/workspace/testgui/build/
/workspace/calculator/nbproject/private/
/workspace/calculator/build/